select{
	width:300px;
	font-size:20px;
	font-weight:bold;
	padding:10px 20px;
}
label{
	font-size:20px;
	font-weight:bold;
}
.harga{
	width:257px;
	font-size:20px;
	font-weight:bold;
	padding:10px 20px;
	border:1px solid gray;
	border-radius:4px;
}
